@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
li{
    display: inline;/*deixa a lista na horizontal*/
    padding: 0px 5px 10px 5px;
    float: right;
}

a {
    font-family: arial;
    color: #000;
    text-decoration: none;/*para tirar o sublinhado dos links*/
}

a: :hover{
    background-color;
    
}